
.advantages {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 250px;
    height: 280px;
  }
}

.advantages__item:last-child {
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    margin-bottom: 90px;
  }
}

.advantages__item--number-1 {
  @media (min-width: @tablet-width) {
    background-image: url("@{folder-img}advantages-1.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.advantages__item--number-2 {
  @media (min-width: @tablet-width) {
    background-image: url("@{folder-img}advantages-2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right;
  }
}

.advantages__item--number-3 {
  @media (min-width: @tablet-width) {
    background-image: url("../../img/advantages-3.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.advantages__item--number-4 {
  @media (min-width: @tablet-width) {
    background-image: url("../../img/advantages-4.png");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 60px;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 120px;
    padding-left: 0;
  }
}

.advantages__description-leaf {
  background-image: url("../../img/advantages-icon-1.svg");
  background-repeat: no-repeat;
  background-position: top left;

  @media (min-width: @tablet-width) {
    background-size: 80px 80px;
  }
}

.advantages__description-water {
  background-image: url("../../img/advantages-icon-2.svg");
  background-repeat: no-repeat;
  background-position: top left;

  @media (min-width: @tablet-width) {
    background-size: 80px 80px;
  }
}

.advantages__description-food {
  background-image: url("../../img/advantages-icon-3.svg");
  background-repeat: no-repeat;
  background-position: top left;

  @media (min-width: @tablet-width) {
    background-size: 80px 80px;
  }
}

.advantages__description-watch {
  background-image: url("../../img/advantages-icon-4.svg");
  background-repeat: no-repeat;
  background-position: top left;

  @media (min-width: @tablet-width) {
    background-size: 80px 80px;
  }
}
