
.catalog-product {
  min-width: 320px;
  margin: auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.catalog-product__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 60px;
}

.catalog-product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.catalog-product__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 430px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #f2f2f2 10%, #f2f2f2 100%);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 430px;
    background-color: #f2f2f2;
  }
}

.catalog-product__item:last-child {
  padding-top: 80px;

  @media (min-width: @tablet-width) {
    padding-top: 131px;
    margin-top: 104px;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    padding-top: 140px;
    margin-top: 110px;
  }
}

.catalog-product__item-wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.catalog-product__image {
  width: 68px;
  height: 86px;
  margin-right: 36px;
  margin-left: 40px;

  @media (min-width: @tablet-width) {
    width: 161px;
    height: 172px;
    margin-top: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 161px;
    height: 172px;
    margin-bottom: 42px;
  }
}

.catalog-product__image-larger {
  width: 68px;
  height: 86px;
  margin-right: 36px;
  margin-left: 40px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 202px;
    margin-bottom: 46px;
  }
}

.catalog-product__table {
  margin-bottom: 22px;
  min-width: 160px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    min-width: 256px;
    margin-bottom: 40px;

    th,
    td {
      border-bottom: 1px solid #cdcdcd;
      padding: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;

    th,
    td {
      border-bottom: 1px solid #cdcdcd;
      padding: 10px;
    }
  }
}

.catalog-product__text {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  margin-bottom: 14px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 21px;

    br {
      display: block;
    }
  }
}

.catalog-product__text-plus {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 22px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}

.catalog-product__description-plus {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 20px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 95px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 105px;

    br {
      display: block;
    }
  }
}

.catalog-product__description-main {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog-product__description {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}


.catalog-product__item-plus {
  position: relative;
}

.catalog-product__item-plus::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 125px;
  width: 30px;
  height: 2px;
  background-color: #cdcdcd;

  @media (min-width: @tablet-width) {
    top: 80px;
    right: 130px;
    width: 60px;
    height: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 65px;
    right: 90px;
    width: 60px;
    height: 2px;
  }
}

.catalog-product__item-plus::before {
  position: absolute;
  content: "";
  transform: rotate(90deg);
  top: 25px;
  right: 125px;
  width: 30px;
  height: 2px;
  background-color: #cdcdcd;

  @media (min-width: @tablet-width) {
    top: 80px;
    right: 130px;
    width: 60px;
    height: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 65px;
    right: 90px;
    width: 60px;
    height: 2px;
  }
}

.catalog-product__button {
  margin-bottom: 54px;

  @media (min-width: @tablet-width) {
    width: 248px;
    margin-left: 35px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.catalog-product__show {
  color: #444444;
  background-color: #f2f2f2;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
