
.choice {
  margin: 0 auto;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.choice__wrapper {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 33px;
}

.choice__wrapper:last-child {
  margin-right: 0;
}

.choice__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
}

.choice__item {
  @media (min-width: @tablet-width) {
    min-width: 708px;
    margin-bottom: 30px;
    padding-left: 52px;
  }

  @media (min-width: @desktop-width) {
    min-width: 570px;
    margin-right: 80px;
  }
}

.choice__item--icon {
  background-image: url("../../img/choice-cat.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 20px;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/choice-tablet-cat.svg");
    background-repeat: no-repeat;
    background-position-x: 470px;
    background-position-y: 80px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/choice-desktop-cat.svg");
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 50px;
  }
}

.choice__item--icon-2 {
  background-image: url("../../img/choice-cat-2.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 20px;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/choice-tablet-cat-2.svg");
    background-repeat: no-repeat;
    background-position-x: 420px;
    background-position-y: 80px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/choice-desktop-cat-2.svg");
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 50px;
  }
}

.choice__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 90px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 180px;
    padding-bottom: 73px;
  }
}

.choice__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 450px;
  }
}

.choice__button {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 0;
    margin-bottom: 57px;
  }
}

.choice__button::after {
  top: 3px;
  left: 100px;
  position: absolute;
  content: "";
  background-image: url("../../img/choice-icon_arrow.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 10px;

  @media (min-width: @tablet-width) {
    top: 10px;
    left: 120px;
    position: absolute;
    content: "";
    background-image: url("../../img/choice-icon_arrow.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 10px;
  }
}
