

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.main-nav__link--inner {
  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #111111;
  }
}

.main-nav__toggle {
  display: none;
}
