
.selection-additionally {
  min-width: 320px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.selection-additionally__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.selection-additionally__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.selection-additionally__control-label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-additionally__control {
  position: relative;
  display: block;
  padding-left: 46px;

  @media (min-width: @tablet-width) {
    padding-left: 56px;
  }
}

.selection-additionally__control-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.selection-additionally__control:hover .selection-additionally__control-mark {
  border-color: #bababa;
}

.selection-additionally__input:disabled + .selection-additionally__control-mark {
  border-color: #bababa;
  opacity: 0.3;
}

.selection-additionally__input[type="checkbox"]:checked + .selection-additionally__control-mark::before {
  position: absolute;
  top: 14px;
  left: 3px;
  width: 8px;
  height: 2px;
  background-color: #68b738;
  content: "";
  transform: rotate(45deg);

  @media (min-width: @tablet-width) {
    top: 18px;
    left: 3px;
    width: 12px;
  }
}

.selection-additionally__input[type="checkbox"]:checked + .selection-additionally__control-mark::after {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 15px;
  height: 2px;
  background-color: #68b738;
  content: "";
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    top: 16px;
    left: 11px;
    width: 20px;
  }
}
