
.selection-name {
  min-width: 320px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 80px;
    margin-bottom: 0;
    width: 570px;
  }
}

.selection-name__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.selection-name__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-name__label-wrapper:not(:last-child) {
  margin-bottom: 14px;
}

.selection-name__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 15px 18px;

  @media (min-width: @tablet-width) {
    width: 406px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-name__input-name {
  min-width: 235px;

  @media (min-width: @tablet-width) {
    min-width: 585px;
  }

  @media (min-width: @desktop-width) {
    min-width: 505px;
  }
}

.selection-name__input-weight {
  min-width: 214px;

  @media (min-width: @tablet-width) {
    min-width: 555px;
  }

  @media (min-width: @desktop-width) {
    min-width: 475px;
  }
}

.selection-name__input-age {
  min-width: 170px;

  @media (min-width: @tablet-width) {
    min-width: 515px;
  }

  @media (min-width: @desktop-width) {
    min-width: 436px;
  }
}
