html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  min-height: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}
